.AboutUs h1 {
  display: block;
  margin: 20px auto;
  padding-top: 40px;
  text-align: center;
  border-top: 1px solid #ddd;

  width: 100%;
}
.AboutUs p {
  text-align: center;
  margin: auto;
  width: 70%;
  color: rgb(73, 73, 73);
  margin-bottom: 10px;
}
.Imag {
  display: flex;
  justify-content: space-between;

  list-style: none;
  text-align: center;
  width: 80%;
  padding-left: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 46px;
}

.Icon {
  cursor: pointer;
  margin: 5px 8px;
  color: #00bf81;
  font-size: 20px;
  transition: all ease-in 0.2s;
}
.Icon:hover {
  font-size: 25px;
}

.Imag li img {
  border-radius: 10px;
  height: 250px;
  border-top: 3px solid transparent;
  transition: all ease-in-out 0.5s;
}
.Imag li img:hover {
  border-top: 3px solid #00bf81;
}
